.page_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.content h1 {
  padding: 0 0 0 0;
}

.liveInputText {
  color: #555;
  font-size: 14px;
}
