.catalog {
  display: block;
  justify-content: space-between;
  align-items: center;
  max-width: 1520px;
  margin: 0 auto;
  text-align: center;
}
.catalog_content {
  max-width: 200px;
  margin: 0 auto;
}
.catalog_content h1 {
  color: red;
  font-size: 30px;
  border: solid 3px #fff;
  border-radius: 30px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
}
.categories_main {
  display: flex;
  justify-content: space-between;
}
.categories_main p {
  color: aqua;
  font-size: 30px;
}
.categories_bottom p {
  color: aqua;
  font-size: 30px;
}
.link {
  text-decoration: none;
  margin-bottom: 30px;
}
.link:hover {
  box-shadow: 0 0 20px 20px rgb(68, 64, 64);
  transition: 0.5s;
}
