.container {
  margin-bottom: 50px;
}
.video_content {
  width: 100%;
  margin: 50px auto;
}
video {
  max-width: 1440px;
  width: 1000px;
  display: flex;
  margin: auto;
  border: double 5px #fff;
}
.text_content {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  color: #fff;
  font-size: 40px;
}
.content {
  max-width: 1440px;
  margin: 0 auto;
}
.content h2 {
  margin-bottom: 50px;
  color: cyan;
  font-size: 50px;
}
.container h2 {
  text-align: center;
  color: cyan;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}
