.container {
  margin-bottom: 50px;
}
.video_content {
  width: 1300px;
  margin: 50px auto;
}
video {
  width: 100%;
  max-width: 1820px;
  object-fit: cover;
  display: flex;
  margin: auto;
  border: double 5px #fff;
}
.video_text {
  display: flex;
  justify-content: center;
}
.video_text p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 1200px;
}
.content {
  margin: 0 auto;
  max-width: 1440px;
}
.content h1 {
  color: cyan;
  text-align: center;
  margin-bottom: 100px;
  font-size: 50px;
}
.container h1 {
  color: cyan;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
