.content {
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 30px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.arrowButton {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 50px;
}

.img_left,
.img_right {
  width: 50px;
  height: 50px;
  background-color: none;
  object-fit: cover;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.productCard {
  width: 248px;
  height: 250px;
  border: 5px solid #fff;
}

.productImage {
  height: 150px;
  object-fit: cover;
}
.content button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: #fff;
  cursor: pointer;
}
