.footer {
  max-width: 1440px;
  display: flex;
  align-items: center;
  background-color: #031225;
  color: #fff;
  padding: 10px;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 50px;
}

.footerContent {
  width: 100%;
  max-width: 1600px;
  display: flex;
}

.contacts {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 10px;
}
.footer p {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_github {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_instagram {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_linkedin {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_telegram {
  color: #fff;
  font-size: 20px;
}
