.footer {
  width: 1600px;
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  height: 70px;
  border-radius: 50px;
  background-color: #031225;
}
.footer p {
  color: #fff;
  font-size: 20px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer_contacts_github {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_instagram {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_linkedin {
  color: #fff;
  font-size: 20px;
}
.footer_contacts_telegram {
  color: #fff;
  font-size: 20px;
}
