.container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
  align-items: center;
}
.categories {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.link {
  text-decoration: none;
}
.categories p {
  font-size: 20px;
  color: #fff;
}
.categories p:hover {
  color: cyan;
}
.content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.content p {
  font-size: 20px;
  color: #fff;
}

.input_content {
  position: relative;
}
.closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.input {
  height: 20px;
  width: 100%;
}
